<footer class="site-footer">

  <div class="wrapper">

      <div class="google-ad">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4189184568187692"
         crossorigin="anonymous"></script>
    <!-- 正方形广告 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4189184568187692"
         data-ad-slot="5152688129"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <h2 class="footer-heading">{{ site.me }}<span style="font-size:14px;color:#aaa;margin-left:5px;">{{ site.copyright }}</span></h2>

      </div>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li></li>
          <ul class="social-media-list">
            <li>email <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>
        </ul>
      </div>
            <div class="footer-col footer-col-2">
                国外访问：<a href="https://shop.cloudss.org/aff.php?aff=4602">Cloudss</a></p>
            </div>
            <div class="footer-col footer-col-1">
              <p>
              </p>
            </div>
    </div>

  </div>

</footer>
