/**
 * Site header
 */
.site-header {
  background-color: $background-color-light;
  min-height: 56px;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $text-color;
  }

  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

.site-nav {
  float: right;
  line-height: 56px;
  z-index: 99;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      color: $text-color-dark;
      text-decoration: none;
    }
  }
  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-light;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
      transition: 2s all;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}
/**
 * Site footer
 */
.site-footer {
  -background-color: $background-color-dark;
  padding: $spacing-unit 0 $spacing-unit*3;
}

.site-footer > .wrapper {
  border-top: $background-color-light solid 1px;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $text-color-dark;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}
@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;

  img {
    width: 100%;
    opacity: 0.75;
  }
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  hr {
    border: 0;
    border-bottom: $grey-color solid 1px;
  }

  h1 {
    font-size: 32px;
    font-weight: bolder;
    border-bottom: $grey-color solid 1px;
    clear: both;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h2 {
    font-size: 24px;
    @include media-query($on-laptop) {
      font-size: 24px;
    }
  }

  h3 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 20px;
    }
  }

  h4 {
    font-size: 18px;
    @include media-query($on-laptop) {
      font-size: 16px;
    }
  }

  h5 {
    font-size: 16px;
    font-weight: bold;
    @include media-query($on-laptop) {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
// user define

.post-category {
  float: left;
  border-radius: 100%;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 4px 4px 4px 0;
  background-color: $brand-color-dark;

  &::after {
    content: "70";
    font-size: 12px;
    line-height: 32px;
    color: $brand-color-light;
    text-align: center;
    width: 32px;
    display: block;
    zoom: 0.75;
  }
}

.post-category-code {
  &::after {
    content: "Code";
    letter-spacing: -0.15em;
  }
}

.post-category-web {
  &::after {
    content: "Web";
  }
}

.post-category-iOS {
  &::after {
    content: "iOS";
  }
}

.post-category-software {
  &::after {
    content: "Soft";
  }
}

.post-category-app {
  &::after {
    content: "App";
  }
}

.post-category-google {
  &::after {
    content: "G";
    font-size: 18px;
    font-weight: bolder;
  }
}

.post-category-ux {
  &::after {
    content: "UX";
    font-size: 18px;
    font-weight: bolder;
  }
}

.post-category-3c {
  &::after {
    content: "3C";
    font-size: 18px;
    font-weight: bolder;
  }
}

.post-category-ai {
  &::after {
    content: "AI";
    font-size: 18px;
    font-weight: bolder;
  }
}

.blog-list,
.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    display: block;
    margin-bottom: $spacing-unit/2;

    .post-list-link {
      display: block;
      background-color: $background-color-light;
      font-size: 20px;
      color: $text-color;

      &:visited {
        color: $text-color;
      }

      &:hover {
        color: $text-color;
        text-decoration: none;
      }

      &:active {
        color: $text-color;
        text-decoration: none;
      }
    }

    div.post-list-show-image {
      position: relative;
      display: block;
      width: 100%;
      height: 180px;
      margin-bottom: $spacing-unit/4;
    }

    div.post-list-show-image-image {
      position: absolute;
      display: block;
      width: 100%;
      height: 180px;
      background-position: center;
      background-size: cover;
      transition: 0.5s all;
      opacity: 0;
    }

    div.post-list-show-image::before {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 180px;
      background-position: center;
      margin-bottom: $spacing-unit/4;
      background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
      background-size: 50px 50px;
      animation: placeholder-shine 5s infinite linear;
      -webkit-animation: placeholder-shine 5s infinite linear;
    }

    div.post-list-show-no-image {
      display: block;
      width: 100%;
      height: 1px;
      margin-bottom: $spacing-unit/4;
    }

    div.post-list-title {
      color: $text-color;
      font-size: $base-font-size * 1.2;
      margin: 0 $spacing-unit/4 $spacing-unit/4;
    }

    div.post-list-description {
      font-size: $small-font-size;
      color: $text-color-dark;
      margin: 0 $spacing-unit/4 $spacing-unit/4;
    }

    div.post-list-info {
      height: 36px;
      margin-left: $spacing-unit/4;

      span.post-meta {
        font-size: $small-font-size;
        color: $text-color-dark;
        line-height: 32px;
      }
    }
  }
}
@media screen and (min-width: 1240px) {
  .post-list {
    margin-left: 0.5%;

    > li {
      margin-bottom: $spacing-unit;
      position: relative;
      width: 33%;
      height: 320px;
      float: left;

      .post-list-link {
        display: block;
        height: 320px;
        margin-left: $spacing-unit /2;
        margin-right: $spacing-unit /2;
      }

      div.post-list-info {
        position: absolute;
        width: 80%;
        bottom: 0;
        margin-left: $spacing-unit/4;
      }
    }
  }
}
// user define post
@media screen and (min-width: 600px) {
  .page-content:before {
    content: "";
    width: 100%;
    height: 360px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 57px;
    background-position: center;
    z-index: -2;
  }

  .page-content:after {
    content: "";
    width: 100%;
    height: 360px;
    background-image: linear-gradient(rgba(0 ,0, 0,0.4), rgba(0 ,0, 0,0.8));
    display: none;
    position: absolute;
    left: 0;
    top: 57px;
    background-position: center;
    z-index: -1;
  }

  .post-header {
    height: 220px;

    h1 {
      margin-top: 110px;
      margin-bottom: 50px;
      text-shadow: 0 0 2px rgba(0 ,0, 0,0.5);
      font-size: 55px;
      color: #fff;
    }

    img {
      display: none;
    }
  }
}

a.link-button {
  display: block;
  float: left;
  margin: 5px;
  width: 100px;
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
  border: 1px solid $brand-color;
  border-radius: 16px;
  text-align: center;
  color: $brand-color;

  &:hover {
    background: $brand-color;
    color: #fff;
    text-decoration: none;
  }
}
//专用换行块文本

.language-text pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.language-text > div > pre {
  background-color: $background-color-dark;
  border: 1px solid $background-color-light;
}

.language-tips pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.language-tips > div > pre {
  background-color: $background-color-light;
  border: 1px solid $background-color-dark;
}
