.highlight table { margin:5px 0;border:0;background: linear-gradient(rgba(255,255,255,0.1) 50%, rgba(0,0,0,0.1) 50%); background-size: 100% 40px;}
.highlight table td { padding:0 5px; border:0;}
.highlight table td.gl { width:0; text-align: right;border-right: 1px solid #ccc;}
.highlight table pre { padding: 0; margin: 0; border:0;padding-right: 2px;}
div.highlight, figure.highlight {background-color: transparent!important;}
pre.highlight, pre.highlight .w { color: #93a1a1; }
figure.highlight>pre { color: #93a1a1; background-color: #f8f8f8;}
