/**
 * Post Contents
 */
.toc-mobile {
  display: none;
}
@include media-query($on-laptop) {
  .toc {
    display: none;
  }

  .toc-mobile {
    display: block;
  }
}
@include media-query($on-palm) {
  .toc {
    display: none;
  }

  .toc-mobile {
    display: block;
  }
}

.toc {
  border-top: 1px solid $background-color-light-more;
  border-bottom: 1px solid $background-color-light-more;
  background: $background-color-light;
  margin-bottom: 15px;
  overflow-x: auto;
  border-radius: 4px 4px 0 0;

  .title {
    font-size: $base-font-size;
    font-weight: bolder;
    margin: 0;
    padding: calc($spacing-unit / 2);
    width: auto;
    border-bottom: 1px solid $background-color-light-more;
  }

  .content {
    ul {
      list-style: none;

      li {
        line-height: 1.5;

        ul {
          border-left: 1px solid #dbdbdb;
          margin: 0.75em;
          padding-left: 0.75em;
        }
      }
    }
  }
}

.toc-sticky {
  width: 240px;
  float: left;
  position: sticky;
  top: 8px;
  max-height: 640px;
  overflow: auto;
}

.post-content-toc-stick {
  padding-left: 266px;
}

.toc-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  overflow-x: auto;

  .title {
    position: fixed;
    width: 100%;
    height: 56px;
    line-height: 56px;
    bottom: 0;
    left: 0;
    font-size: $base-font-size;
    font-weight: bolder;
    border-top: 1px solid $background-color-light-more;
    background: $background-color-light;
    padding-left: calc($spacing-unit / 2);
    margin: 0;
  }

  .content {
    display: none;
    position: fixed;
    width: 100%;
    height: 480px;
    bottom: 57px;
    left: 0;
    border-top: 1px solid $background-color-light-more;
    background: $background-color-light;
    overflow-x: auto;
    overflow-y: auto;
    padding: calc($spacing-unit / 2) 0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          padding: 0.5em;
          line-height: 1.75;
          display: block;
          padding-left: 1em;
        }

        ul li {
          padding-left: 1em;

          a {
            border-left: 1px solid $background-color-light-more;
            padding-left: 1em;
          }
        }
      }
    }
  }
}
@include media-query($on-laptop) {
  .post-content-toc-stick {
    padding-left: 0;
  }
}
