---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4189184568187692"
 crossorigin="anonymous"></script>
<ins class="adsbygoogle"
 style="display:block; text-align:center;"
 data-ad-layout="in-article"
 data-ad-format="fluid"
 data-ad-client="ca-pub-4189184568187692"
 data-ad-slot="1153733369"></ins>
<script>
 (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    {{ content }}
  </div>

</article>
